
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleHome.css">
<div class="row" style="margin-top:100px;">
    <div class="col-md-12">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li id="last" class="active">
                        @Ajax.ActionLink("Недавние", "SortingHome", "Home", new { nameClass = "HowToDoIt.Models.Sort.SortingByDate" }, new AjaxOptions { UpdateTargetId = "update" })
                    </li>
                    <li id="popular">
                        @Ajax.ActionLink("Популярные", "SortingHome", "Home", new { nameClass = "HowToDoIt.Models.Sort.SortingByRating" }, new AjaxOptions { UpdateTargetId = "update"})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="update">

</div>

<script>
    $(function () {
        $('body').on('click', '#last', function () {
            $('#popular').removeClass("active");
            $('#last').addClass("active");
        });

        $('body').on('click', '#popular', function () {
            $('#last').removeClass("active");
            $('#popular').addClass("active");
        });
    });
</script>

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>