<link rel="stylesheet" href="~/Content/InstructionButton/ButtonInstructions.css">

@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("Instruction", "Instructions")" id="button-instruction" class="button grey">@Res.ResourceIndex.AddInstruction</a>
}
