@using Microsoft.AspNet.Identity

<link rel="stylesheet" href="~/Content/InstructionButton/ButtonInstructions.css">

@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("Instruction", "Instructions")" id="button-instruction" class="action-button animate color-button">@Res.ResourceIndex.AddInstruction</a>
}
