
<ul class="dropdown nav navbar-nav navbar-right">
    <li>
        <a data-toggle="dropdown" class="proxy-chooselanguage">
            <span class="glyphicon glyphicon-globe"></span>
            <span class="caret"> </span>
        </a>
        <ul class="dropdown-menu" id="proxy-dropdown-menu-color">
            <li><a href="#">English</a></li>
            <li><a href="#">Русский</a></li>
        </ul>
    </li>
</ul>
