
<ul class="dropdown nav navbar-nav navbar-right">
    <li id="li-language">
        <a data-toggle="dropdown" class="proxy-chooselanguage">
            <span class="glyphicon glyphicon-globe"></span>
            <span class="caret"> </span>
        </a>
        <ul class="dropdown-menu" id="proxy-dropdown-menu-color">
            <li><a href="@Url.Action("ChangeCulture", "Home", new { lang="en" })">English</a></li>
            <li><a href="@Url.Action("ChangeCulture", "Home", new { lang="ru" })">Русский</a></li>
        </ul>
    </li>
</ul>
