@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
    </ul>
    }
}
else
{
    <ul class="dropdown nav navbar-nav navbar-right">
        <li>
            <a data-toggle="dropdown" class="proxy-chooselanguage"><span class="glyphicon glyphicon-user"></span> Sign in</a>
            <ul class="dropdown-menu" id="proxy-dropdown-menu-color">
                <li><a href="#">English</a></li>
                <li><a href="#">Русский</a></li>
                <li><a href="#">English</a></li>
                <li><a href="#">Русский</a></li>
            </ul>
        </li>
    </ul>
}
