
#proxy-dropdown-menu-color{background-color:#222;}
#proxy-dropdown-menu-color>li>a{color:#9d9d9d;}
#proxy-dropdown-menu-color>li>a:focus,#proxy-dropdown-menu-color>li>a:hover{background-color:#222;color:white;}


.navbar-brand {
    font-family: 'Trocchi', serif !important;
    font-size: 24px !important;
    font-weight: bold !important;
}


.proxy-chooselanguage{color:#9d9d9d}
.proxy-chooselanguage:focus, .proxy-chooselanguage:hover{color:#fff;background-color:transparent}
.proxy-navbar{background-color:#222;border-color:#080808}
.proxy-navbar .navbar-brand{color:#9d9d9d}
.proxy-navbar .navbar-brand:focus,.proxy-navbar .navbar-brand:hover{color:#fff;background-color:transparent}
.proxy-navbar .navbar-text{color:#9d9d9d}
.proxy-navbar .navbar-nav>li>a{color:#9d9d9d}
.proxy-navbar .navbar-nav>li>a:focus,.proxy-navbar .navbar-nav>li>a:hover{color:#fff;background-color:transparent}
.proxy-navbar .navbar-nav>.active>a,.proxy-navbar .navbar-nav>.active>a:focus,
.proxy-navbar .navbar-nav>.active>a:hover{color:#fff;background-color:#080808}
.proxy-navbar .navbar-nav>.disabled>a,.proxy-navbar .navbar-nav>.disabled>a:focus,
.proxy-navbar .navbar-nav>.disabled>a:hover{color:#444;background-color:transparent}
.proxy-navbar .navbar-toggle{border-color:#333}
.proxy-navbar .navbar-toggle:focus,.proxy-navbar .navbar-toggle:hover{background-color:#333}
.proxy-navbar .navbar-toggle .icon-bar{background-color:#fff}
.proxy-navbar .navbar-collapse,.proxy-navbar .navbar-form{border-color:#101010}
.proxy-navbar .navbar-nav>.open>a,.proxy-navbar .navbar-nav>.open>a:focus,
.proxy-navbar .navbar-nav>.open>a:hover{color:#fff;background-color:#080808}@media (max-width:767px){
.proxy-navbar .navbar-nav .open .dropdown-menu>.dropdown-header{border-color:#080808}
.proxy-navbar .navbar-nav .open .dropdown-menu .divider{background-color:#080808}
.proxy-navbar .navbar-nav .open .dropdown-menu>li>a{color:#9d9d9d}
.proxy-navbar .navbar-nav .open .dropdown-menu>li>a:focus,
.proxy-navbar .navbar-nav .open .dropdown-menu>li>a:hover{color:#fff;background-color:transparent}
.proxy-navbar .navbar-nav .open .dropdown-menu>.active>a,
.proxy-navbar .navbar-nav .open .dropdown-menu>.active>a:focus,
.proxy-navbar .navbar-nav .open .dropdown-menu>.active>a:hover{color:#fff;background-color:#080808}
.proxy-navbar .navbar-nav .open .dropdown-menu>.disabled>a,
.proxy-navbar .navbar-nav .open .dropdown-menu>.disabled>a:focus,
.proxy-navbar .navbar-nav .open .dropdown-menu>.disabled>a:hover{color:#444;background-color:transparent}}
.proxy-navbar .navbar-link{color:#9d9d9d}.proxy-navbar .navbar-link:hover{color:#fff}
.proxy-navbar .btn-link{color:#9d9d9d}
.proxy-navbar .btn-link:focus,.proxy-navbar .btn-link:hover{color:#fff}
.proxy-navbar .btn-link[disabled]:focus,.proxy-navbar .btn-link[disabled]:hover,fieldset[disabled] 
.proxy-navbar .btn-link:focus,fieldset[disabled] .proxy-navbar .btn-link:hover{color:#444}

