iframe {
    width: 100%;
    height: 350px;
}

.icon-step {
    font-size: 25px;
}

.elem-in-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.margin-button{
    margin-left:3px;
}

.button-save {
    margin-top:5%;
    width:136px;
    font-size: 20px;
    text-align:center;
    margin-bottom:5%;
}

.icon-remove {
    color: gray;
    
}
    .icon-remove:hover {
        cursor: pointer;
        color: black;
    }
    .icon-remove:active {
        color: red;
    }

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-1 {
    margin-left: 1px;
}

.content {
    width: 100%;

}

    .content .block {

    }

.link-youtube {
    margin-bottom: 20px;
    max-width: 100%;
}

textarea {
    max-width: 100%;
}

#header {
    max-width: 100%;
}

#header-instruction {
    max-width: 60%;
}

#category {
    max-width: 60%;
}

#tags {
    max-width: 60%;
}

.margin-left-5{
    margin-top:15px;
    margin-bottom:20px;
    margin-left:5%;
}


.dropdown-toggle {
    border: 1px solid grey;
    background-color: silver;
    color: #fff;
    margin: 0 .5em;
    transition: background-color .2s;
    border-radius: 0 !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #ffd14c;
    color: #fefefe;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #ffd14c;
    border-color: #D9A200;
}

.dropdown-menu {
    font-size: 1.1em;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    left: .5em;
    border-radius: 0;
}