#HeaderOnIndex{
    margin-left:7%;
}

#li-language {
    cursor: pointer;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#icon-social{
    padding:5px;
}

#main-container {
    position: absolute;
    display: inline-block;
    left: 14%;
    width: 72%;
    border-radius: 7px;
    margin-top: 10px;
    background: #fff;
}

#button-for-add-instruction {
    display: inline-block;
    position: absolute;
    left: 86%;
    width: 14%;
    padding-top: 13px;
    padding-right: 10px;
    padding-left: 10px;
}