#HeaderOnIndex{
    margin-left:7%;
}

#li-language {
    cursor: pointer;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

#icon-social{
    padding:5px;
}

#main-container {
    position:absolute;
    display:inline-block;
    left:14%;
    width: 72%;

}