@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleInstrucions.css">
<div id="scrolList">
    @Html.Partial("_ViewInstructionPartial")
</div>

<div id="loading" class="elem-in-center"><img src='@Url.Content("~/image/spinner.gif")'></div>

<script>
    $(function () {

        $('div#loading').hide();

        var page = 0;
        var _inCallback = false;
        function loadItems() {
            if (page > -1 && !_inCallback) {
                _inCallback = true;
                page++;
                $('div#loading').show();

                $.ajax({
                    type: 'GET',
                    url: '/Instructions/ViewInstructions/' + page,
                    success: function (data, textstatus) {
                        if (data != '') {
                            $("#scrolList").append(data);
                        }
                        else {
                            page = -1;
                        }
                        _inCallback = false;
                        $("div#loading").hide();
                    }
                });
            }
        }
        // обработка события скроллинга
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                loadItems();
            }
        });
    })
</script>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}